

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
    background-color: #303030;
    margin: auto;
    padding: 0;
}

#header-bar {
    padding-top: 2px;
    padding-left: 2px;
    height: 44px;
    width: inherit;
    background-color: #141414;

}

#content-wrapper {
    width:100%; 
    height:100%;
     padding-left: 50px;
     padding-right: 50px;
     padding-top: 50px;
}

#content-box {
    width: 100%;
    height: calc(100vh - 144px);;
    background-color: #3D3D3C;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

#driver-selection, #driver-selection .carousel-inner, #driver-selection .carousel-inner .item {
   height: calc(100vh - 144px);
}




th {
    background-color: #303030;
}

tr {
    background-color: #303030;
}


.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 32px;
    height: 32px;
    padding: 0px;

    background: transparent;
    border: 2px solid white;
    color: white;
    text-align: center;

    font: 24px Arial, sans-serif;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

#driver-selection .carousel-overlay {
    background:rgba(0,0,0,.75);
    text-align:center;
    padding:45px 0 66px 0;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
}

#player-profile { /*driverSelection.html*/
    position: absolute;
    z-index: 1;
    padding:45px 20px 66px 20px;
    background:#3EAD96;
}
#driver-selection .carousel-overlay.carousel-overlay-active {
    opacity:1;
}
#driver-selection .carousel-overlay #driver-select-btn-container {
    height: 100%;
}
#driver-selection .carousel-caption {
    background:rgba(0,0,0,0.2);
}
#driver-selection #player_stats {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(125%, -50%);
}
#driver-selection .carousel-overlay button {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#helmet {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.footer
{
position:absolute;
bottom:00px;
width:100%;
}

.header
{
position:absolute;
width:100%;
}

.bluetrans
{
opacity: 0.95;
background-color: #007CC0;
color:white;
font: 23px Arial, sans-serif;
height:38px;
text-align: left;
padding: 4px;
width:320px;
}


.greentrans
{
opacity: 0.95;
background-color: #3EAD96;
color:white;
font: 23px Arial, sans-serif;
height:38px;
text-align: left;
padding: 4px;
width:320px;
}


.speed
{
    position: absolute;
    right: 80px;
    bottom: 120px;
	font: 50pt Arial, sans-serif;
	color: white;
    z-index: 100;
    width: 130px;
    text-align: center;
    color:#eee;
}

body {
    overflow:hidden;
}


#overlay-time-lap-info {
    position: absolute;
    background-color: #007CC0;
    opacity: 0.95;
    top:25px;
    left: 40%;
    height: 38px;
    width: 20%;

    font-size: 18pt;
    color:white;
    text-align: center;

}

#overlay-tacho {
    position: absolute;
    height: 200px;
    width: 200px    ;
    bottom:50px;
    right:50px;
    opacity: 0.75;
}

#overlay-driver-info {
    position: absolute;
    height: 400px;
    width: 776px;
    bottom:50px;
    left:1px;
    opacity: 0.95;
    background-color: #3EAD96;
}

#overlay-driver-info span  {
    font-size: 20pt;
    color: white;

}

#overlay-badge-info{
    position: absolute;
    height: 200px;
    width: 30%;
    top: 40%;
    left: 35%;
    text-align: center;
    background-color: #303030;
    opacity: 0.75;
    border-radius: 25px;
    color: white;
}
