

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
    background-color: #303030;
    margin: auto;
    padding: 0;
}

#header-bar {
    padding-top: 2px;
    padding-left: 2px;
    height: 44px;
    width: inherit;
    background-color: #141414;

}

#content-wrapper {
    width:100%; 
    height:100%;
     padding-left: 50px;
     padding-right: 50px;
     padding-top: 50px;
}

#content-box {
    width: 100%;
    height: calc(100vh - 144px);;
    background-color: #3D3D3C;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

#driver-selection, #driver-selection .carousel-inner, #driver-selection .carousel-inner .item {
   height: calc(100vh - 144px);
}




th {
    background-color: #303030;
}

tr {
    background-color: #303030;
}


.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 32px;
    height: 32px;
    padding: 0px;

    background: transparent;
    border: 2px solid white;
    color: white;
    text-align: center;

    font: 24px Arial, sans-serif;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

#driver-selection .carousel-overlay {
    background:rgba(0,0,0,.75);
    text-align:center;
    padding:45px 0 66px 0;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}


#driver-selection:hover .carousel-overlay {
    opacity:1;
}
#driver-selection .carousel-overlay > div {
    height: 100%;
}
#driver-selection .carousel-overlay button {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer
{
position:absolute;
bottom:00px;
width:100%;
}


.speed
{
	font: 100px Arial, sans-serif;
	color: white;
}

body {
    overflow:hidden;
}


#overlay-time-lap-info {
    position: absolute;
    background-color: #007CC0;
    opacity: 0.95;
    top:25px;
    left: 40%;
    height: 38px;
    width: 20%;

    font-size: 18pt;
    color:white;
    text-align: center;

}
